<h1><%= @cocktail.name %></h1>




<%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

<%= link_to "Go back to Cocktail", cocktails_path , class: "btn btn-primary" %>

